{% if nextcloud.admin is defined %}
NEXTCLOUD_ADMIN_USER={{ nextcloud.admin.user }}
NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud.admin.password }}
{% endif %}

{% if nextcloud.trusted_domains is defined %}
NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud.trusted_domains }}
{% endif %}
